html {
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
  }

body {
    font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,Arial,sans-serif;
    font-size:15px;
    background:#f7f7f7;
    min-width:320px;
    line-height:1.6;
    color:#3a342e;
    margin:0;
  }

  h1 {
    font-size:2em;
    line-height:1.2;
    margin:0;
  }

  a {
    color:#222;
    background:transparent;
  }

  a:hover,a:active {
    color:#154BE5;
    text-decoration:none;
    outline:0;
  }
  a:focus {
    outline:thin dotted;
  }

  textarea {
    overflow:auto;
    vertical-align:top;
  }
  .cf:before,.cf:after {
    content:" ";
    display:table;
  }
  .cf:after {
    clear:both;
  }
  .cf {
    *zoom:1;
  }

  .header {
    background-color:#101930e8;
    width:100%;
    padding:.75em 0;
  }
  
  .header .logo {
    font-family:"Arial Black";
    font-weight:900;
    color:#fff;
    max-width:750px;
    margin:0 auto;
    padding:0 .7em;
  }
  
  .header .logo a {
    color:#fff;
  }

  .panel-body{
    background-color: #7897C5;
  }

  .container {
    width:100%;
    background-color:rgba(255, 255, 255, 0.932);
  }
  
  .container .postarea {
    max-width:720px;
    margin:0 auto;
    padding:2em 1.3em;
  }
  
  .container .postarea .postarea-text{
    width:100%;
  }

  .container .postarea .postarea-text textarea{
    font-size:1em;
    width: 100%;
    border:1px solid rgba(237, 237, 237, 0.658);
    border-radius:5px;
    height:34px;
    resize:vertical;
    color:#3a342e;
    padding:.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  ul,li{
    padding: 0;
    margin: 0;;
    text-align: left;
}
#scroller {
    height: 630px;
    overflow: auto;
}

.left_balloon {
  position: relative;
  background: #fff;
  border: 1px solid #777;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  margin-right: 20%;
  clear: both;
  max-width: 500px;
  float: left;
}

.left_balloon:after,
.left_balloon:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.left_balloon:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 7px;
  margin-top: -7px;
}

.left_balloon:before {
  border-color: rgba(0, 0, 0, 0);
  border-right-color: #000;
  border-width: 8px;
  margin-top: -8px;
}


/*******************************
* 右からの吹き出し
********************************/

.right_balloon {
  position: relative;
  background: #85e249;
  border: 1px solid #777;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  margin-left: 20%;
  clear: both;
  max-width: 500px;
  float: right;
}

.right_balloon:after,
.right_balloon:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.right_balloon:after {
  border-color: rgba(133, 226, 73, 0);
  border-left-color: #85e249;
  border-width: 7px;
  margin-top: -7px;
}

.right_balloon:before {
  border-color: rgba(119, 119, 119, 0);
  border-left-color: #777;
  border-width: 8px;
  margin-top: -8px;
}

/*******************************
* 割り込みを解除
********************************/
.clear_balloon{
  clear: both;
}

.sender_name{
    margin-bottom: -5px;
    padding-left: 20px;
    color: rgba(0, 0, 0, .40);
}
.sender_name.me{
    float: right;
    padding: 0 20px 0 0;
}

.time{
  margin-bottom: -5px;
  padding-left: 20px;
  color: rgba(0, 0, 0, .40);
}

.time.me{
  float: right;
  padding: 0 20px 0 0;
}